.todo-list{
    max-width: 30%;
    border: 1px #ddd solid;
    margin: auto;
    padding: 20px;
}

.task{
    display:flex;
    padding: 10px 0;
}

.task button{
    margin-left: auto;
}

.done{
    text-decoration: line-through;
}

.active{
    background: dodgerblue;
    color: #fff;
}